language:
  - python

python:
  - 2.6

os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - cmake
      - libblas-dev
      - liblapack-dev

install:
  - pip install -r requirements.txt

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..
  - py.test -vv distmesh/demo2d.py

notifications:
  email: false
