language:
  - python

python:
  - 2.6

os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - cmake
      - python-numpy
      - python-scipy
      - python-matplotlib

install:
  - virtualenv --system-site-packages venv
  - source venv/bin/activate
  - pip install pep8 pytest cffi

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..
  - py.test -vv distmesh/test.py

notifications:
  email: false
