language: python

sudo: false

matrix:
  include:
    - os: linux
      python: 2.7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'
    - os: linux
      python: 3.5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'

install:
  - pip install --upgrade pip setuptools wheel  # https://github.com/travis-ci/travis-ci/issues/2650#issuecomment-266721196
  - pip install --only-binary=scipy scipy
  - pip install pytest pytest-cov python-coveralls
  - pip install git+https://github.com/bast/polygons.git
  - pip install git+https://github.com/bast/flanders.git

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then SMESHING_BUILD_DIR=build py.test -vv smeshing/test.py --cov smeshing;
    else SMESHING_BUILD_DIR=build py.test -vv smeshing/test.py;
    fi
#   pep8 smeshing/* --ignore E501

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then coveralls;
    fi

notifications:
  email: false
