language:
  - python

python:
  - 2.6
  - 2.7
  - 3.5

os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - cmake
      - python-scipy

install:
  - virtualenv --system-site-packages venv
  - source venv/bin/activate
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]];
    then pip install pytest-cov python-coveralls;
    else pip install pytest;
    fi
  - pip install pep8 cffi matplotlib

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]];
    then py.test -vv distmesh/test.py --cov distmesh;
    else py.test -vv distmesh/test.py;
    fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]];
    then coveralls;
    fi

notifications:
  email: false
