language: python

sudo: false

matrix:
  include:
    - os: linux
      python: 2.7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'
    - os: linux
      python: 3.5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'

install:
  - pip install --upgrade pip setuptools wheel  # https://github.com/travis-ci/travis-ci/issues/2650#issuecomment-266721196
  - pip install -r requirements.txt

script:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then py.test -vv smeshing/*.py --cov smeshing;
    else py.test -vv smeshing/*.py;
    fi
  - pep8 smeshing/*.py --ignore E501

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then coveralls;
    fi

notifications:
  email: false
