language: python

sudo: false

matrix:
  include:
    - os: linux
      python: 2.7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - python-numpy
            - python-scipy
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'

install:
  - pip install git+https://github.com/bast/inpoly.git cffi pytest pytest-cov python-coveralls

script:
  - cd build
  - cmake ..
  - make
  - cd ..
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then py.test -vv distmesh/test.py --cov distmesh;
    else py.test -vv distmesh/test.py;
    fi
  - INPOLY_BUILD_DIR=$PWD/build py.test -s -vv test.py

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then coveralls;
    fi

notifications:
  email: false
