language: python

sudo: false

matrix:
  include:
    - os: linux
      python: 2.7
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gfortran-4.9
            - gcc-4.9
            - g++-4.9
            - libblas-dev
            - liblapack-dev
      env:
        - CC='gcc-4.9'
        - CXX='g++-4.9'

install:
  - pip install --upgrade pip setuptools wheel  # https://github.com/travis-ci/travis-ci/issues/2650#issuecomment-266721196
  - pip install --only-binary=numpy,scipy numpy scipy
  - pip install cffi pytest pytest-cov python-coveralls
  - pip install git+https://github.com/bast/inpoly.git
  - pip install git+https://github.com/bast/polygons.git

script:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then py.test -vv distmesh/test.py --cov distmesh;
    else py.test -vv distmesh/test.py;
    fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]];
    then coveralls;
    fi

notifications:
  email: false
