pycodestyle
pytest
pyyaml
click
pytest-cov
python-coveralls
git+https://github.com/bast/polygons.git@8afdb5fcdf203ddeacf754b232062a46d2ed220a
git+https://github.com/bast/flanders.git
git+https://github.com/bast/delaunay.git@radovan/python-interface
