pep8
pytest
pyyaml
click
pytest-cov
python-coveralls
git+https://github.com/bast/polygons.git@d0cad23730afc21db6c26b7a6f154d2efc83c2f4
git+https://github.com/bast/flanders.git
git+https://github.com/bast/delaunay.git@radovan/python-interface
